/* Убираем внешние отступы */
html,body,h1,h2,h3,h4,h5,h6,p,ul,li,a {
	padding: 0;
 	margin: 0;
}
html,body{
	height: 100%;
}
*,*:before,*:after{
	padding: 0;
	border: 0;
	margin: 0;
	box-sizing: border-box;
}
.main_body{
	display: grid;
	margin: 10px 0;
	grid-template-columns:1fr;
	grid-template-rows: minmax(100px, max-content) minmax(100px, max-content) 1fr;
	grid-template-areas: 
	"container1"
	"container2"
	"container3";
}
/*======================================================Container 1*/
.container1{
	display: grid;
	grid-template-rows:auto auto auto;
	grid-template-areas: 
	"head"
	"body"
	"transfer";
}

.welcome_box{
	grid-area: head;
	text-align: center;
	height: 7.5vw;
	
	background: url(../svg/title_index_1.svg) 50% 50% no-repeat fixed;
    background-size: 100%;
    background-attachment: scroll;
}
.welcome_text{
	font-size: 3.85vw;
	margin-top: 1.45vw;
	color: white;
	background: linear-gradient(-60deg, #b04343 31%, #851d1d 50%, #eb7171 65%);
	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;
	/*background-color: lightgray;*/
}

.familiar_box{
	grid-area: body;
	margin-top: 3%;
	display: grid;
	grid-template-columns:5% 1fr 0.85fr 5%;
	grid-template-areas: 
	"buffl left right buffr";
}
.blockvideo{
	grid-area: left;
	width: 90%;
	/*background-color: gray;*/
	margin: auto 0;
}
.video{
	/*background-color: gray;*/
	position: relative;
	padding-bottom: 55.25%; /*(если 4:3 — поставьте 75%) */
	height: 0;
	overflow: hidden;
	border: 9px solid;
	border-color: #8c5858;
}
.video_frame{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-width: 0;
	outline-width: 0;
}

.schema{
	grid-area: right;
	max-width: 100%;
	max-height: 100%;
	/*background-color: gray;*/
	text-align: center;

	background: url(../images/gclipsabg.png) 52% 50% no-repeat fixed;
    background-size: 75%;
    background-attachment: scroll;
}
.schema_folus{
	font-size: 1.5vw;
	font-family: "Oswald";
	color: white;
/*	background-color: gray;*/
}
.undrln_small{
 	height: 0.5vw;
 	width: calc(100% / 2.2);

}
.schema_project{
	font-size: 1.3vw;
	font-family: "Oswald";
	color: white;
}
.undrln_big{
 	height: 0.5vw;
 	width: calc(100% / 1.1);
}
.schema_pic{
	margin: 0.7vw 0 0 0;
	max-width: 100%;
}
.schema_pic_img{
	max-width: 60%;
}
.transfer1{
	grid-area:transfer;
	margin-top:7%;
	/*background-color: lightgray;*/
}
/*======================================================Container 2*/
.container2{
	display: grid;
	margin-top:5%;
	grid-template-rows:auto auto auto;
	grid-template-areas: 
	"head"
	"body"
	"transfer";
	/*background-color: gray;*/
}
.underwelc{
	grid-area: head;
	text-align: center;
	height: 5vw;
	background: url(../svg/title_index_2.svg) 50% 50% no-repeat fixed;
    background-size: 100%;
    background-attachment: scroll;
}
.underwelc_text{
	font-size: 3.6vw;
	margin-top: 0.35vw;
	color: white;
	background: linear-gradient(-60deg, #b04343 31%, #851d1d 50%, #eb7171 65%);
	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;
}


.newsabout{
	grid-area: body;
	margin-top: 2%;
	display: grid;
	grid-template-columns:5% 0.65fr 1fr 5%;
	grid-template-areas: 
	"buffl lastnews about buffr";
	/*background-color: gray;*/
}

.about{
	grid-area: about;
	text-align: center;
	background: url(../images/planebg.png) 52% 50% no-repeat fixed;
    background-size: 100%;
    background-attachment: scroll;
	/*background-color: lightgray;*/
	margin: auto 0;
}

.about_buff{
    /*background-color: gray;*/
    
}

.about_us{}
.about_ungrline{
	padding: 8px 0;
}
.about_undrln_pic{}
.about_us_text{
	white-space: pre-line;
	/*background-color: lightgray;*/
}

.lastnews{
	grid-area: lastnews;
	display: grid;
	grid-template-rows:1fr;
	grid-template-columns:25% 50% 25%;
	grid-template-areas: 
	"bfl slider bfr";
	justify-content: center;
	/*background-color: darkgray;*/
	background: url(../images/slider.png) 49% 50% no-repeat fixed;
    background-size: 75%;
    background-attachment: scroll;

}

.slider{
	grid-area: slider;
	margin: auto 0;
}
.slider .slick-list{
	overflow: hidden;
}
.slider .slick-track{
	overflow: hidden;
}
.slider .slick-slide:active, .slick-slide:focus {
	outline: none;
}

.slider :active, :hover, :focus{
	outline: none;
}
.slider .slider_item img{
	max-width: 99%;
	max-height: 99%;
	cursor: pointer;
	border: 1px solid;
	border-color: #8c5858;
	transition-property: transform;
  	transition-duration: 0.2s;
}

.slider .slider_item img:hover {
  transform: scale(0.95);
  transition-property: transform;
  transition-duration: 0.2s;
}

.slider .slick-arrow {
    width: 20%;
    display: block;
    cursor: pointer;
    margin: 0 auto;

}  
.slider .slick-arrow:hover { 
    opacity: .6; 
}

.transfer2{
	grid-area:transfer;
	margin-top:5%;
	/*background-color: lightgray;*/
}
.transfer2_pic{

}
/*=======================================================Container 3*/

.container3{
	display: grid;
	margin-top:5%;
	grid-template-columns: 1fr;
	grid-template-rows:auto auto;
	grid-template-areas: 
	"head"
	"body";
	/*background-color: gray;*/
}
.underwelc1{
	grid-area: head;
	text-align: center;
	height: 5vw;

	background: url(../svg/title_index_2.svg) 50% 50% no-repeat fixed;
    background-size: 100%;
    background-attachment: scroll;
}
.underwelc_text1{
	font-size: 3.6vw;
	margin-top: 0.35vw;
	color: white;
	background: linear-gradient(-60deg, #b04343 31%, #851d1d 50%, #eb7171 65%);
	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.developers{
	grid-area: body;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"text"
	"devs";
	margin-top: 5%;
	margin-bottom: 5%;
}

.devtext{
	grid-area: text;
	text-align: center;
	/*background-color: gray;*/
}
.devtext_cre{
	max-width: 60%;
	margin: 0 auto;
	/*background-color: lightgray;*/
}
.devtext_irr_ungrline{padding: 8px 0;}
.devtext_irr_ungrline_pic{
 	height: 0.5vw;
 	width: calc(100% / 3);
}
.devtext_cre_ungrline{padding: 8px 0;}
.devtext_cre_ungrline_pic{
 	height: 0.5vw;
 	width: calc(100% / 1.5);
}

.devbox{
	grid-area: devs;
	margin-top: 3%;
	display: grid;
	grid-template-rows:auto;
	grid-template-columns:5% 1fr 5%;
	grid-template-areas: 
	"bfl slider bfr";

	background: url(../images/kingbg.png) 51% 87% no-repeat fixed;
    background-size: 60%;
    background-attachment: scroll;
    /*background-color: darkgray;*/
}

.dev_slider{
	grid-area: slider;
 	display: flex;
 	min-width: 0;
 	/*background-color: gray;*/
}
.dev_slider .slick-slide{
	padding: 0 1vw;
}
.dev_slider .slick-list{
	overflow: hidden;
}
.dev_slider .slick-track{
 	display: flex;
 	min-width: 0;
 	overflow: hidden;
}
.dev_slider .slick-slide:active, .slick-slide:focus {
	outline: none;
}
.dev_slider .slick-arrow {
    width: 5%;
    display: block;
    cursor: pointer;
    /*margin: auto;*/
}  

.dev_slider .dev_slider_item img{
	max-width: 99%;
	max-height: 99%;
	border: 1px solid;
	border-color: #8c5858;
	transition-property: transform;
	transition-duration: 0.2s;
}
.dev_slider .slick-arrow:hover { 
    opacity: .6; 
}

/*=========================================================MEDIA*/

@media (max-width: 1200px){
	.about_ungrline{
		padding: 1vw 0 1vw 0;
	}
	.schema_folus{
		font-size: 2.5vw;
	}
	.schema_project{
		font-size: 2vw;
	}
	.devtext_irr_ungrline{padding: 0px 0;}
	.devtext_cre_ungrline{padding: 0px 0;}

	.schema_pic{
		margin: 0 0 0 0;
	}
	.video{
		border: 4px solid;
		border-color: #8c5858;
	}

	.lastnews{
		grid-area: lastnews;
		display: grid;
		grid-template-rows:1fr;
		grid-template-columns:15% 70% 15%;
		grid-template-areas: 
		"bfl slider bfr";
	    background-size: 104%;
	}
}

@media (max-width: 768px){
	.about_ungrline{
		padding: 0 0 0 0;
		margin-bottom: 1vw;
	}
	.schema_folus{
		font-size: 2.5vw;
	}
	.schema_project{
		font-size: 2vw;
	}
	.devtext_irr_ungrline{padding: 0px 0;}
	.devtext_cre_ungrline{padding: 0px 0;}

	.schema_pic{
		margin: 0 0 0 0;
	}
	.video{
		border: 2px solid;
		border-color: #8c5858;
	}

}

@media (max-width: 425px){
	.newsabout{
		grid-area: body;
		margin-top: 4%;
		display: grid;
		grid-template-columns:1fr;
		grid-template-rows:auto 5% auto;
		grid-template-areas: 
		"lastnews" 
		"buffc"
		"about";
		/*background-color: gray;*/
		margin-bottom: 8vw;
	}
	.lastnews{
		grid-area: lastnews;
		display: grid;
		grid-template-rows:1fr;
		grid-template-columns:15% 70% 15%;
		grid-template-areas: 
		"bfl slider bfr";
		background: url(../images/slider.png) 49% 50% no-repeat fixed;
	    background-size: 0%;
	}

	.schema_folus{
		font-size: 4vw;
	}
	.schema_project{
		font-size: 3.5vw;
		padding-top: 1vw;
	}

	.familiar_box{
		grid-area: body;
		margin-top: 3%;
		display: grid;
		grid-template-columns:1fr;
		grid-template-rows:auto 5% auto;
		grid-template-areas: 
		"left" 
		"buffc" 
		"right";
	}
	.blockvideo{
		grid-area: left;
		width: 90%;
		/*background-color: gray;*/
		margin: 0 5%;
	}
	.schema{
		grid-area: right;
		margin-bottom: 5vw;
	}
	.undrln_small{
	 	height: 0.5vw;
	 	width: calc(100% / 2.2);
	}
	.undrln_big{
	 	height: 0.5vw;
	 	width: calc(100% / 1.1);
	}
	.schema_pic{
		margin: 0.7vw 0 0 0;
		max-width: 100%;
	}
	.devtext_cre{
		max-width: 80%;
	}
	.devtext_irr_ungrline_pic{
	 	height: 0.5vw;
	 	width: calc(100% / 2.2);
	}
	.devtext_cre_ungrline_pic{
	 	height: 0.5vw;
	 	width: calc(100% / 1.1);
	}
	.devtext{
		margin-bottom: 1vw;
	}
	.devbox{
		grid-area: devs;
		margin-top: 3%;
		display: grid;
		grid-template-rows:auto;
		grid-template-columns:10% 1fr 10%;
		grid-template-areas: 
		"bfl slider bfr";
	}

	.welcome_box{
		grid-area: head;
		text-align: center;
		height: 13.5vw;
		
		background: url(../svg/title_index_1_small.svg) 50% 50% no-repeat fixed;
		background-size: 90%;
		background-attachment: scroll;
	}
	.welcome_text{
		font-size: 7vw;
		margin-top: 2.7vw;
		color: white;
		background: linear-gradient(-60deg, #b04343 31%, #851d1d 50%, #eb7171 65%);
		-webkit-background-clip: text;
		background-clip: text;
		  -webkit-text-fill-color: transparent;
		/*background-color: lightgray;*/
	}
	.underwelc{
		grid-area: head;
		text-align: center;
		height: 8vw;
		background: url(../svg/title_index_2_small.svg) 50% 50% no-repeat fixed;
		background-size: 90%;
		background-attachment: scroll;
	}
	.underwelc_text{
		font-size: 6vw;
		margin-top: 0.6vw;
		color: white;
		background: linear-gradient(-60deg, #b04343 31%, #851d1d 50%, #eb7171 65%);
		-webkit-background-clip: text;
		background-clip: text;
		  -webkit-text-fill-color: transparent;
	}
	.underwelc1{
		grid-area: head;
		text-align: center;
		height: 8vw;
	
		background: url(../svg/title_index_2_small.svg) 50% 50% no-repeat fixed;
		background-size: 90%;
		background-attachment: scroll;
	}
	.underwelc_text1{
		font-size: 6vw;
		margin-top: 0.6vw;
		color: white;
		background: linear-gradient(-60deg, #b04343 31%, #851d1d 50%, #eb7171 65%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}