/* Убираем внешние отступы */
html,body,h1,h2,h3,h4,h5,h6,p,ul,li,a, img{
	padding: 0;
 	margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
html,body{
	height: 100%;
}
*,*:before,*:after{
	padding: 0;
	border: 0;
	margin: 0;
	box-sizing: border-box;
}
//--------------------------------------------------
.main_body{
	display: grid;
	margin: 10px 0;
	grid-template-columns:1fr;
	grid-template-rows: minmax(100px, max-content);
	grid-template-areas: 
	"container1";
}
.container1{
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-areas: 
	"head"
	"body"
	"foot";
}

.welcome_box{
	grid-area: head;
	text-align: center;
	height: 7.5vw;

	background: url(../svg/title_index_1.svg) 50% 50% no-repeat fixed;
    background-size: 100%;
    background-attachment: scroll;

	.welcome_text{
		font-size: 3.85vw;
		margin-top: 1.45vw;
		color: white;
		background: linear-gradient(-60deg, #b04343 31%, #851d1d 50%, #eb7171 65%);
        background-clip: text;
		-webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
		/*background-color: lightgray;*/
	}
	@media (max-width: 425px){
		grid-area: head;
		text-align: center;
		height: 13.5vw;
		
		background: url(../svg/title_index_1_small.svg) 50% 50% no-repeat fixed;
		background-size: 90%;
		background-attachment: scroll;
		.welcome_text{
			font-size: 7vw;
			margin-top: 2.7vw;
			color: white;
			background: linear-gradient(-60deg, #b04343 31%, #851d1d 50%, #eb7171 65%);
            background-clip: text;
			-webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			/*background-color: lightgray;*/
		}
	}
}
.familiar_box{
	grid-area: body;
	margin-top: 2%;
	margin-bottom: 2%;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns:5% 1fr 5%;
	grid-template-areas: 
	"buffl center buffr";

	.familiar_box_items{
		grid-area: center;
		display: grid;
		grid-template-columns:20% 60% 20%;
		grid-template-areas:
		"left center right";
		// background-color: darkgray;

		@media (max-width: 1200px){
			grid-template-columns:15% 70% 15%;
			grid-template-areas:
			"left center right";
		}
		@media (max-width: 768px){
			grid-template-columns:10% 80% 10%;
			grid-template-areas:
			"left center right";
		}
		@media (max-width: 425px){
			grid-template-columns:5% 90% 5%;
			grid-template-areas:
			"left center right";
		}
        .form_box{
            grid-area: center;
            border: 4px solid #8c5858;
            background-color: #521e1e;

            .form_header{
                text-align: center;
                margin-top: 1%;
                & p{
                    color: white;
                    font-size: 2.3vw;
                }
                @media (max-width: 1200px){
					& p{font-size: 3vw;}
				}
				@media (max-width: 768px){
					& p{font-size: 4vw;}
				}
				@media (max-width: 425px){
					& p{font-size: 5vw;}
				}
            }


            //-------------------------
			%_warn{
				$fz0:1vw;$fz1:2vw;$fz2:3vw;$fz3:4vw;

				width: 70%;
				margin-top:3%;
				margin-left: 9.1vw;
				display: flex;
				text-align: left;
				& p{
					display: none;
					padding-left: 5px;
					font-size: $fz0;
					color: orange;
				}
				
				@media (max-width: 1200px){
					margin-left: 11vw;
					& p{
						font-size: $fz1;
					}
				}
				@media (max-width: 768px){
					margin-left: 12.5vw;
					& p{
						font-size: $fz2;
					}
				}
				@media (max-width: 425px){
					& p{
						font-size: $fz3;
					}
				}
			}

			%_input{
				$fi0:1.6vw;
				$fi1:2.3vw;
				$fi2:3.4vw;
				$fi3:4.5vw;

				font-size: $fi0;
				background-color: #521e1e;
				border: 2px solid #8c5858;
				width: 70%;
				font-family: "Oswald";
				color: #fff;
				padding-left: 5px;

				@media (max-width: 1200px){
					width: 70%;
					font-size: $fi1;
					border: 1px solid #8c5858;
				}
				@media (max-width: 768px){
					width: 70%;
					font-size: $fi2;
					border: 1px solid #8c5858;
				}
				@media (max-width: 425px){
					width: 75%;
					font-size: $fi3;
					border: 1px solid #8c5858;
				}
			}

            %box_pic{
				$fp0:2.3vw;
				$fp1:3vw;
				$fp2:4vw;
				$fp3:5vw;
                
				width: $fp0;
				margin-right: 5px;
				@media (max-width: 1200px){
					width: $fp1;
				}
				@media (max-width: 768px){
					width: $fp2;
				}
				@media (max-width: 425px){
					width: $fp3;
				}
			}

            %box{
				display: flex;
				/*background-color: gray;*/
				justify-content: center;
                margin-bottom: 3%;
			}
            
            %dropper{
                display: flex;
                justify-content: center;
                margin-bottom: 3%;

                $fi0:1.6vw;
				$fi1:2.3vw;
				$fi2:3.4vw;
				$fi3:4.5vw;

                & img{
                    @extend %box_pic;
                }
                .drop_box_type{
                    display: grid;
                    width: 70%;
                    font-size: $fi0;
                    
                    font-family: "Oswald";
                    color: #fff;

                    @media (max-width: 1200px){
                        width: 70%;
                        font-size: $fi1;
                        border: 1px solid #8c5858;
                    }
                    @media (max-width: 768px){
                        width: 70%;
                        font-size: $fi2;
                        border: 1px solid #8c5858;
                    }
                    @media (max-width: 425px){
                        width: 75%;
                        font-size: $fi3;
                        border: 1px solid #8c5858;
                    }
                }
            }

            %_textarea{
				$fi0:1.3vw;
				$fi1:2.0vw;
				$fi2:3.1vw;
				$fi3:4.2vw;

				font-size: $fi0;
				background-color: #521e1e;
				border: 2px solid #8c5858;
				width: 70%;
                height: 150px;
				font-family: "Oswald";
				color: #fff;
				padding-left: 5px;

				@media (max-width: 1200px){
					width: 70%;
					font-size: $fi1;
					border: 1px solid #8c5858;
				}
				@media (max-width: 768px){
					width: 70%;
					font-size: $fi2;
					border: 1px solid #8c5858;
				}
				@media (max-width: 425px){
					width: 75%;
					font-size: $fi3;
					border: 1px solid #8c5858;
				}
			}

			%_p{
				$fi0:1.3vw;
				$fi1:1.9vw;
				$fi2:2.6vw;
				$fi3:3.5vw;

				margin: 1vw auto;


				font-size: $fi0;
				font-family: "Oswald";
				text-align: center;
				color: #fff;

				@media (max-width: 1200px){
					font-size: $fi1;
				}
				@media (max-width: 768px){
					font-size: $fi2;
				}
				@media (max-width: 425px){
					font-size: $fi3;
					margin: 2vw auto;
				}
			}
			

			%_box_border{
				margin: 0 auto 1vw auto;
				width: 75%;
				border: 2px solid #8c5858;
				transition-property: background-color;
				transition-duration: 0.2s;
				@media (max-width: 1200px){
					width: 76%;
					border: 1px solid #8c5858;
				}
				@media (max-width: 768px){
					width: 77%;
					border: 1px solid #8c5858;
				}
				@media (max-width: 425px){
					width: 83%;
					border: 1px solid #8c5858;
				}
			}

			%_dragdrop{
				margin: 0 auto 3% auto;
				width: 75%;
				border: 2px dashed #8c5858;

				@media (max-width: 1200px){
					width: 76%;
					border: 1px dashed #8c5858;
				}
				@media (max-width: 768px){
					width: 77%;
					border: 1px dashed #8c5858;
				}
				@media (max-width: 425px){
					width: 83%;
					border: 1px dashed #8c5858;
				}
			}

			%_dragdrop_fs_target{
				display: block;
				padding: 3.5vw 0px;
				text-align: center;
				color: #fff;
				font-size: 1.5vw;
				background-color: #8c5858;
				transition-property: background-color;
				transition-duration: 0.2s;
				@media (max-width: 1200px){
					padding: 5vw 0px;
					font-size: 2.5vw;
				}
				@media (max-width: 768px){
					padding: 6vw 0px;
					font-size: 3vw;
				}
				@media (max-width: 425px){
					padding: 7vw 0px;
					font-size: 4vw;
				}
			}

            .login{
                .login_warn{@extend %_warn;}
                .login_box{@extend %box;
                    & img{@extend %box_pic;}
                    & input{@extend %_input;}
                }
            }
            .email{
                .email_warn{@extend %_warn;}
                .email_box{@extend %box;
                    & img{@extend %box_pic;}
                    & input{@extend %_input;}
                }
            }
            .dropper{
                @extend %dropper;
            }
            .describe{
                .describe_warn{@extend %_warn;}
                .describe_box{@extend %box;
                    & img{@extend %box_pic; margin-bottom: auto;}
                    & textarea{@extend %_textarea;}
                }
            }

			.social{
				& .social_prebox{ @extend %_box_border;  border: none; display: flex;
					& img {@extend %box_pic; margin-bottom: auto;}
					.social_box{ @extend %_box_border; width: 100%;
						& .info_text { 
							p {@extend %_p;}
						}
						.text_box{@extend %box;
							& img{@extend %box_pic; margin-bottom:0;}
							& input{@extend %_input;}
						}
					}
				}
			}

			.dragdrop{ @extend %_box_border; display: flex; border: none;
				& img{@extend %box_pic; margin-bottom:auto;}
				.dragdrop_prebox{ @extend %_box_border;  width: 100%;
					& .info_text { 
						p {@extend %_p;}
					}
					.dragdrop_box{@extend %_dragdrop;
						.fs-upload-target{
							@extend %_dragdrop_fs_target;
						}
						.fs-upload-target:hover{
							@extend %_dragdrop_fs_target;
							color: #fff;
							background-color: #521e1e;
						}
					}
					.fs-upload-dropping{
						background-color: #fff;
						transition-property: background-color;
						transition-duration: 0.2s;
					}
				}
            }

			.sendorder{ @extend %_box_border; display: flex; border: none;
				& img{@extend %box_pic;}
                .s_button{@extend %_box_border; background-color: #430000;
                    & p{@extend %_p; text-transform: uppercase;}
                }
				.s_button:hover{
					background-color: #521e1e;
					cursor: pointer;
				}
            }

            @media (max-width: 1200px){
                border: 3px solid #8c5858;
            }
            @media (max-width: 768px){
                border: 2px solid #8c5858;
            }
            @media (max-width: 425px){
                border: 1px solid #8c5858;
            }
        }
    }
}